<div class="container">
  <h2>{{character.title}}</h2>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Wolverine" ng-model="character.hero">
        <span class="input-group-btn">
        <button class="btn btn-default" type="submit" ng-click="character.getCharacter(character.hero)">Go!</button>
        </span>
      </div>
    </div>
  </div>

  <div class="row" id="heroResult">
    <div class="col-md-5">
      <h2>{{character.name}}</h2>
      <img ng-src={{character.thumbnail}}>
      <p> {{character.description}} </p>
    </div>
  </div>

  <div class="row" id="comicsResult" ng-if=character.name>
    <h3>Comics featuring {{character.name}}</h3>
    <div class="col-md-3" ng-repeat="comic in character.comicData | limitTo: character.quantity">
      <h5> {{comic.title}} </h5>
      <img ng-src="{{comic.thumbnail.path}}/portrait_medium.{{comic.thumbnail.extension}}">
      <p>{{comic.description}}</p>
    </div>
  </div>    

  <div class="row" id="eventsResult" ng-if=character.name>
    <h3>Events featuring {{character.name}}</h3>
    <div class="col-md-3" ng-repeat="event in character.eventData | limitTo: character.quantity">
      <h5> {{event.title}} </h5>
      <img ng-src="{{event.thumbnail.path}}/portrait_medium.{{event.thumbnail.extension}}">
      <p>{{event.description}}</p>
    </div>
  </div>    

</div>