<div class="container-fluid" id="registerPage">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
    <h2>Register</h2>
      <form id="registerForm" name="registerForm" ng-submit="submitForm(registerForm.$valid)" novalidate>

      <!--Email Address-->
        <div class="form-group">
          <label for="useremail">Email address:</label>
          <input type="email" class="form-control" name="useremail" id="userEmail" placeholder="you@associateme.com" ng-model="email" required>
        </div>

      <!--Username-->
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" name="username" id="userName" placeholder="OnePunchMan" ng-model="username" ng-minlength="4" ng-maxlength="12" required>
          <p class="alert alert-danger" ng-show="registerForm.username.$error.minlength" class="help-block">Username must have more than 4 characters.</p>
          <p class="alert alert-danger" ng-show="registerForm.username.$error.maxlength" class="help-block">Username cannot exceed 12 characters.</p>
        </div>

      <!--Password-->
        <div class="form-group">
          <label for="userpassword">Password:</label>
          <input type="password" name="password" class="form-control" id="userpassword" placeholder="Password1" ng-model="password" ng-minlength='5' ng-maxlength='13' required>
          <p class="alert alert-danger" ng-show="registerForm.password.$error.minlength" class="help-block">Username must have more than 5 characters.</p>
          <p class="alert alert-danger" ng-show="registerForm.password.$error.maxlength" class="help-block">Username cannot exceed 13 characters.</p>
        </div>

      <!--Submit-->
        <button type="submit" class="btn btn-primary btn-block" ng-disabled="registerForm.$invalid" ng-click="register()">Submit</button>
      </form>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <div class="animation">  
    </div>
  </div>
</div>