<nav class="navbar navbar-fixed-top transparent">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">AssociateME</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li ng-show='currentUser' ng-class="{active: isActive('/rooms')}"><a class="btn" href="/rooms">Rooms</a></li>
        <!-- <li ng-class="{active: isActive('/chat/:room')}"><a href="/chat">Chat</a></li> -->
        <li ng-hide='currentUser' ng-class="{active: isActive('/register')}"><a class="btn" href="/register">Register</a></li>
        <li ng-hide='currentUser' ng-class="{active: isActive('/login')}"><a class="btn" href="/login">Login</a></li>
        <li class="dropdown" ng-show='currentUser' ng-class="{active: isActive('/upload')}"><a id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn" href="#">{{currentUser}}</a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/upload">My Profile</a></li>
            <li ng-show='currentUser' ng-controller='logoutController' ng-click='logout()'><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>