
<div class="container-fluid">
  <div class="row">
    <!--Sidebar-->
    <div class="col-md-4">
      <!--Profile Picture and user Name-->
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="user-icon">
              <canvas data-jdenticon-hash="{{currentUserId}}"></canvas>
            </div>
          </div>          
          <div class="row">
            <h4>{{currentUser}}</span>
          </div>
        </div>
      </div>
    </div>
    <!--End Sidebar-->  
  </div>
</div>

