    <script>
      var socket = io.connect('http://localhost:8080/chat');
    </script>

<h2>Chatroom 1</h2>

<div class="container col-md-10">
  <div class="row">
    <div class="chat-window" id="chat-history">
      <ul>
        <li ng-repeat="message in messages" id="chat-messages">
          <span  class="username">{{message.username}}:</span>
          <span class="message">{{message.message}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-2" id="user-list">
  <ul>
    <li ng-repeat="user in users">{{user}}</li>
  </ul>
</div>

<div class="container-fluid">
    <form>
      <div class="col-md-10">
        <input type="text" class="form-control" placeholder="Enter text here..." ng-model="msg"></input>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-default btn-block" ng-click="sendMessage(msg)">Send Message</button>
      </div>
    </form>
</div>

