
<div class="container-fluid">
  <div class="row">
    <!--Sidebar-->
    <div class="col-md-4">
      <!--Profile Picture and user Name-->
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <canvas width="80" height="80" data-jdenticon-hash="{{currentUserId}}"></canvas>
          </div>          
          <div class="row">
            <span>{{currentUser}}</span>
          </div>
        </div>
      </div>
    </div>
    <!--End Sidebar-->  
  </div>
</div>

