body {
  margin-top: 80px;
}

.help-block {
  color: red;
}

#loginForm {
  margin-top: 40px;
}

#registerForm {
  margin-top: 40px;
}

.navName{
  padding-top: 15px;
  font-size: 120%;
}

a {
  color: black;
  font-size: 120%;
}

a:visited{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: blue;
}
a:active{
  color: black;
}

#loginPage{
  height: 95vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#searchRooms {
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  color: #4A4948;
  font-size: 120%;
}

.searchRoomQuery {
  color: black;
  font-size: 110%;
}

#rooms-page{
  height: 100vh;
  background-color: #F8F5F0;
}

#chat-history {
  padding-top: 2%;
  height:80vh;
  background-color: black;
  opacity: 0.8;
  position: relative;
  overflow: auto;
  scroll-behavior: auto;
  bottom:0;
}

#user-list{
  height: 80vh;
  background-color: #0E1C36;
  opacity: 0.8;
  color: #AFCBFF; 
}

#chat-messages{
  color: #c4c4c4;
  overflow:auto;
  position: bottom;
  margin-bottom: 0.75%;
}

.usernameChat{
  font-size: 120%;
}
.messageChat{
  font-size: 105%;
}

.modal-backdrop {
  z-index: -1;
}

/*Profile Page Sytling*/

#profile-page {
  background-color: #F8F5F0;
  height: 100vh;
}

.text-center{
  color: #706E6C;
}

#user-block{
background: linear-gradient(#FFB726, #F6A50F);
padding-top: 20px;
padding-bottom: 20px;
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/*Navbar Styling*/

.navbar{
  background: #C0BEBA;
}

/* .navbar.transparent.navbar-inverse .navbar-inner {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}*/

/*#bs-example-navbar-collapse-1{
  background-color: white;
}*/

div.home-img {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

div.rooms-img {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.navbar {
  padding-top: 40px;
}

/*Dropdown Styling*/
.dropdown-menu {
  background: linear-gradient(#FFB726, #F6A50F);
  width: 302px;
  height: 232px;
  border-radius: 0;
  opacity: 0.95;
}

.profile-btn {
  background-color: #4A4948;
  color: #FFB726;
}

#dropdown-username{
  font-size: large;
  padding-bottom: 10px;
}

/*End Dropdown Styling*/

/*End Navbar Styling*/


img.make-it-fit {
  max-width: 99%;
  max-height: 99%;
}

.btn {
    text-transform: uppercase;
    border-radius: 0;
}

/*.sharp{
  border-radius:0;
}*/
 
.text-box{
  padding: 0;
}

.roomCard {
  text-align: center;
  text-shadow: 1px 1px #000;
  font-size: 20px;
}


#user-icon{
  width: 200px;
  height: 200px;
}

.card{
  opacity: .8;
}

.animation{
  background-image: url('/images/bee.gif');
  height: 480px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  /*This flips the image*/
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.nav-bee{
  background-image: url('/images/bee.png');
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
}