body {
  margin-top: 80px;
}

.navbar {
  padding-top: 40px;
}

.dropdown-menu {
  width: 302px;
  height: 212px;
  border-radius: 0;
  opacity: 0.95;
}

.help-block {
  color: red;
}

.profile-btn {
  background-color: #EEEEEE;
}


#loginForm {
  margin-top: 40px;
}

#registerForm {
  margin-top: 40px;
}

.navName{
  padding-top: 15px;
  font-size: 120%;
}

a {
  color: black;
  font-size: 120%;
}

a:visited{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: blue;
}
a:active{
  color: black;
}

#loginPage{
  height: 95vh;
  /*background-image: url('https://images.unsplash.com/photo-1421749810611-438cc492b581?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=6cf5c5e54ebe49a76b78b7e17ca3dd47');*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/*#registerPage{
  height: 95vh;
  background-image: url('/images/registration.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}*/

#searchRooms {
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  color: white;
  font-size: 120%;
}

.searchRoomQuery {
  color: black;
  font-size: 110%;
}

#roomsPage{
  height: 100%;
  background-color:#009E8E;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#chat-history {
  padding-top: 2%;
  height:80vh;
  background-color: black;
  opacity: 0.8;
  position: relative;
  overflow: auto;
  scroll-behavior: auto;
  bottom:0;
}

#user-list{
  height: 80vh;
  background-color: #0E1C36;
  opacity: 0.8;
  color: #AFCBFF; 
}

#chat-messages{
  color: #c4c4c4;
  overflow:auto;
  position: bottom;
  margin-bottom: 0.75%;
}

.usernameChat{
  font-size: 120%;
}
.messageChat{
  font-size: 105%;
}

.modal-backdrop {
  z-index: -1;
}

 .navbar.transparent.navbar-inverse .navbar-inner {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

div.home-img {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

div.rooms-img {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

img.make-it-fit {
  max-width: 99%;
  max-height: 99%;
}

.btn {
    text-transform: uppercase;
    border-radius: 0;
}

/*.sharp{
  border-radius:0;
}*/
 
.text-box{
  padding: 0;
}

.roomCard {
  text-align: center;
  text-shadow: 1px 1px #000;
  font-size: 20px;
}


#user-icon{
  width: 200px;
  height: 200px;
}

.card{
  opacity: .8;
}

.animation{
  background-image: url('/images/chatgiphy.gif');
  height: 480px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}